# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Node.js
node_modules/

# Uploads
uploads/*

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python test/cache
.pytest_cache/
.coverage

# Build / temporary files
dist/
build/